.testcontainer{
    margin-top: 30px;
    background-color: blue;
    border: 1px yellow solid;
    color: white;
}


.snyggcontainer{
    border: 1px solid blue;
    margin-top: 2rem;
    padding: 3rem;
}




.c1{
    background-color: aqua;
    color:black;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c2{
    background-color: white;
    color:black;
}
.c3{
    background-color: blue;
    color:white;
}


.c4{
    background-color: brown;
    color:white;
}
.c5{
    background-color: burlywood;
    color:black;
}
.c6{
    background-color: tomato;
    color:white;
}


.c7{
    background-color: cornflowerblue;
    color:black;
}
.c8{
    background-color: sandybrown;
    color:white;
}
.c9{
    background-color: violet;
    color:white;
}


